In [1]:
import pandas as pd
import os
import json, urllib.request
import numpy as np

Reading the first file: `estacoes-gira-2--semestre-2022.csv`

The join() function from the os.path module creates a path in the format required by the operating system upon which the code is being run (i.e. whatever operating system your computer is running).

In [2]:
# getting the curring working directory
#path = os.getcwd() 
#data_path = os.path.join(path, 'GIRA/')
data_path = '/mnt/d/Dados/FinalProject_GIRA/GIRA'
entries = os.listdir(data_path)

In [3]:
entries

['estacoes-gira-2semestre-2022.csv',
 'JSON_ciclovias.txt',
 'README.md.txt',
 'weather_docas_2020.csv',
 'GIRA_presentation.pdf',
 'GIRA.ipynb',
 'estacoes-gira-1semestre-2022.csv',
 'gira1t2020.xlsx',
 'gira2t2020.xlsx',
 'gira3t2020.xlsx',
 'gira4t2020.xlsx',
 'Gira_2023_05_26.csv',
 'gira_lisboaaberta_one_day2023_05_26.csv',
 'gira---bicicletas-de-lisboa-2021.7z']

In [4]:
df = pd.read_csv(os.path.join(data_path, entries[0]), 
                 parse_dates=['entity_ts'])

In [5]:
df.head(3)

,desigcomercial,numbicicletas,numdocas,position,entity_ts,estado
0,135 - Avenida Cidade de Lourenço Marques / Val...,7,20,"{""coordinates"":[-9.118689,38.764067],""type"":""P...",2022-07-27 15:53:45.206000+00:00,active
1,456 - Entrecampos / Av. das Forças Armadas,18,41,"{""coordinates"":[-9.14872,38.74877],""type"":""Poi...",2022-07-27 15:53:46.819000+00:00,active
2,132 - Avenida de Berlim / Rua Cidade de Cabinda,2,25,"{""coordinates"":[-9.11255,38.76829],""type"":""Poi...",2022-07-27 15:53:44.936000+00:00,active

In [6]:
df.isna().sum()

desigcomercial    0
numbicicletas     0
numdocas          0
position          0
entity_ts         0
estado            0
dtype: int64

## Organizing the data

- The station ID is a string with the station name. I want it as a separate column.
- The coordinates are into a single column and as a string. I want it as a float and in two different columns.

In [ ]:
df['station_name'] = df['desigcomercial'].str.split('-').str[1]
df.drop(columns=['desigcomercial', 'position'], inplace=True)

In [ ]:
df.head()

In [ ]:
df['stationID'].nunique()

## Sorting

I want the data sorted by station ID and timestamp. With this information we could check the diff in the timestamp column and realize that it's not homogeneous. My idea is to transform it into periods of the day: 'morning', 'lunch time', 'afternoon', 'night'.

After sorting, I can calculate the number of bicicles taken by taking the difference in number of bicicles column.

In [ ]:
# order the dataframe by stationID and time
df.sort_values(by=['entity_ts'], inplace=True) # 'stationID',

In [ ]:
df.head(20)

In [ ]:
df.shape

## Drop duplicates

By checking the time, I realize there are some duplicates, so we will drop it.

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [7]:
# checking the first station
st101 = df[df['stationID'] == 101]

KeyError: 'stationID'

In [ ]:
st101

In [ ]:
st101['diff_time'] = st101['entity_ts'].diff()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(st101['entity_ts'], np.ones(len(st101)), marker='.')

In [ ]:
st101

2382896 observations with distinct time distribution, from 27 of June, 2022 to 16 of February, 2023 (about 6 months long). Info about station name, number of bicicles, number os docs (constant), position information (as string) and a date string. Will be cosidered as time series?

In [ ]:
st101['bike_taken'] = df['numbicicletas'].diff().fillna(0)

# I dont care about the positives values now, so I will set it to zero
st101['bike_taken'][st101['bike_taken'] > 0] = 0

In [ ]:
st101

In [ ]:
plt.bar(st101['entity_ts'], st101['bike_taken']);

## Split the day into periods

In [ ]:
def period_time(x:pd.Series) -> str:
    if x.hour >= 6 and x.hour <= 11:
        return 'morning'
    elif x.hour >= 12 and x.hour <= 15 :
        return 'lunch'
    elif x.hour >= 16 and x.hour <= 20:
        return 'afternoon'
    else:
        return 'night'

In [ ]:
st101['period'] = st101['entity_ts'].apply(period_time)

Now the ts can be just the date

In [ ]:
st101['date'] = st101['entity_ts'].dt.date

In [ ]:
st101

In [ ]:
st101.groupby(by=['date','period']).agg({
    'bike_taken': 'sum',
    'stationID': 'last',
    'station_name': 'last',
    'lat': 'last',
    'lon': 'last'
    
})

# Map by time

I think I need to resample the data to hourly and fill up the gaps with the mean between to steps?

In [ ]:
# setting the date to index
df.set_index('entity_ts', drop=True, inplace=True)

In [ ]:
df.head()

In [ ]:
# resample to get data every 1 hour
df_hour = df.resample('H').agg({'numbicicletas': 'mean',
                      'lat': 'last',
                      'lon': 'last',
                      'station_name': 'last',
                      'stationID': 'last',
                      'estado': 'last'})

In [ ]:
# buble map with animation from plotly

import plotly.express as px

fig = px.scatter_geo(data_frame=df_hour, 
                     lat='lat', 
                     lon='lon',
                     color="numbicicletas",
                     hover_name="stationID", #size="numbicicletas",
                     animation_frame=df_hour.index,
                     projection="natural earth",
                     #scope='europe'
                     )
fig.show()